/* HEADER */

.header{
  margin: 0 auto;
}
.header-nav{
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header-icons{
  width: 2.5rem;
}

.header-titulo{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}